#body {
	background-color: cornsilk;
  padding-top: 50px;
	padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-shadow: 2px 2px 5px black;
}
#title {
	font-weight: 800;
	font-size: 1.8em;
	text-decoration: none;
}
#title-container {
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 15px 5px;
}
#main {
	margin-top: 20px;
}

#navWelcome {
	color: white;
}
#navWelcome:hover {
	color: antiquewhite;
}

#indexTitle {
	background-color: floralwhite;
	box-shadow: 0 10px 15px 5px black;
	margin-bottom: .5em;
	margin-top: 0;
}
#eventsList, #announcements-list, #announcementPage, #eventPage, #userPage {
	background-color: floralwhite;
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: 0 20px 25px 5px black;
}
#eventsListGroup a:hover, #announcementsListGroup a:hover, #userPageUpcomingList a:hover, #userPagePastList a:hover, 
{
	border-left: 1.5px solid green;
	border-right: 1.5px solid green;
}
#homeAnnouncements{
	padding-top: .5em;
	background-color: floralwhite;
	box-shadow: -20px 20px 20px;
}
#homeEvents {
	padding-top: .5em;
	background-color: floralwhite;
	box-shadow: 20px 20px 20px;
}
#comments li:hover {
	background-color: #f2f2f2;
	border-right: 1.5px solid green;
	border-left: 1.5px solid green;
}

#homeAnnouncements a, #homeEvents a, #announcements-title a, #events-title a,
#newAnnouncement a, #register a, #login a, #newEvent a, #eventPage h2 a,
#eventsList h2 a
{
	text-decoration: none;
}

#userPage {
	margin-bottom: 2em;
}
#userPageUpcomingList, #userPagePastList {
	margin-top: 1em;
	max-height: 400px;
	overflow: auto;
}
#userPageUpcomingList a {
	background-color: beige;
}
#userPagePastList a {
	background-color: #cccccc;
}

#contact {
	margin-top: 1em;
}

textarea {
	resize: vertical;
}
hr.thickgrey {
	border-color: lightslategrey;
	border-width: 4px;
}
hr.thingrey {
	border-color: darkslategray;
}
#moreLineHeight {
	line-height: 1.5em;
}
