#body {
	background-color: cornsilk;
  padding-top: 50px;
	padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-shadow: 2px 2px 5px black;
}
#title {
	font-weight: 800;
	font-size: 1.8em;
	text-decoration: none;
}
#title-container {
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 15px 5px;
}
#main {
	margin-top: 20px;
}

#homeAnnouncements ul li footer {
	font-size: .65em;
}
#eventsList, #announcements-list, #announcementPage, #eventPage {
	background-color: white;
	padding-top: 1em;
	box-shadow: 0 20px 25px 5px;
}
#eventsListGroup a:hover, #announcementsListGroup a:hover{
	border-left: 1.5px solid green;
	border-right: 1.5px solid green;
}
#homeAnnouncements{
	background-color: white;
	box-shadow: -20px 20px 20px;
}
#homeEvents {
	background-color: white;
	box-shadow: 20px 20px 20px;
}
#comments li:hover {
	background-color: #f2f2f2;
	border-right: 1.5px solid green;
	border-left: 1.5px solid green;
}

#homeAnnouncements a, #homeEvents a, #announcements-title a, #events-title a,
#newAnnouncement a, #register a, #login a, #newEvent a, #eventPage h2 a,
#eventsList h2 a
{
	text-decoration: none;
}

textarea {
	resize: vertical;
}