extends layout

block content
	h2#newAnnouncement.col-md-12.text-center 
		a.page-header Make an Announcement
	.col-md-10.col-md-offset-1
		form.form-horizontal(action='', method='post')
			.form-group
				label.control-label.col-sm-2(for='announcement') Announcement
				.col-sm-10
					input.form-control(type='text', name='announcement', required)
			.form-group
				label.control-label.col-sm-2(for='summary') Summary
				.col-sm-8
					input.form-control(type='text', name='summary', placeholder='This will be displayed on the announcement list page', required='required')
			.form-group
				label.control-label.col-sm-2(for='details') Details
				.col-sm-10
					textarea.form-control(name='details', wrap='hard', col='20')
			.form-group
				.col-sm-2.col-sm-offset-10
					button.btn.btn-primary(type='submit') Submit