extends layout

block content
	#announcementPage.well.col-sm-10.col-sm-offset-1
		h2.col-sm-12.text-primary
			i= announcement.title
		small.text-muted.col-sm-3
			| #{announcement.author}
			br
			| #{announcement.time}
		.clearfix
		hr
		.col-sm-12!= announcement.description
		.clearfix
		hr
		#comments.col-sm-8
			h4 Comments
			ul.list-group
				li.list-group-item
					a
						i Amazon SDE 3:
					p
						small.text-muted Magnificent Website
				li.list-group-item
					a
						i Principle Software Engineer @Google:
					p 
						small.text-muted Scheduler is incredible
				li.list-group-item
					a
						i Shi Wen:
					p.text-muted
						small God did a great job here
		.clearfix