extends layout


mixin outputMonths()//- no longer needed
	-var months = ['January', 'February','March','April','May','June','July','August','September','October','November','December'];
	-var thisMonth = (new Date()).getMonth();
	-for (var i=0; i<12; i++)
		-if (i===thisMonth)
			option(value=i, selected='selected') #{months[i]}
		-else 
			option(value=i) #{months[i]}

block content
	-var thisYear = (new Date()).getFullYear();
	h2#newEvent.col-md-12.text-center
		a.page-header Add an Event
	.col-md-8.col-md-offset-2
		form(action='', method='post')
			.form-group.col-sm-9
				label(for='title') Event Name
				input.form-control(type='text')
			.clearfix
			.form-group
				label.col-sm-12 When:
					br
					small.text-muted ie. 4 24 1993
				.col-sm-2
					input.form-control.input-sm(type='text', maxlength='2', placeholder='4')
				.col-sm-2
					input.form-control.input-sm(type='text', maxlength='2', placeholder='24')
				.col-sm-2
					input.form-control.input-sm(type='text', maxlength='4', value='1993')
				.clearfix
				label.col-sm-12 at:
				.col-sm-3
					input.form-control.input-sm(type='text', maxlength='2', placeholder='1 - 12')
				.col-sm-1 :
				.col-sm-3
					input.form-control.input-sm(type='text', maxlength='2', placeholder='0 - 60')
				.col-sm-3
					select.form-control.input-sm(name='morning')
						option(value='true', selected='selected') AM
						option(value='false') PM
				.clearfix
			.form-group
				label.col-sm-12(for='capacity') Maximum Number of Participants
				.col-sm-2
					input.form-control.input-sm(type='text', name='capacity')
				.clearfix
			.form-group
				label.col-sm-12(for='description') Description
				.col-sm-12
					textarea.form-control(name='description')
			.form-group 
				.col-sm-12
					button.btn.btn-primary(type='submit') Submit