extends layout

block content
	h2#events-title.col-md-12.text-center
		a.page-header Events
	.col-md-10.col-md-offset-1
		.panel.panel-info
			.panel-heading
				h4 League of Bronze B Match #15
				| Friday, April 1st 8:00 EST 
				span.label.label-success OPEN
			.panel-body
				p A weekly match featuring a standard 5v5 battle on the rift between a team of bronze-silver and a team of gold-plat players.
		.panel.panel-info
			.panel-heading
				h4 League of Bronze A Match #15
				| Thursday, March 31st 8:00 EST 
				span.label.label-success OPEN
			.panel-body
				p A weekly match featuring a standard 5v5 battle on the rift between a team of gold-plat and a team of plat-diamond players.
		.panel.panel-info
			.panel-heading
				h4 League of Bronze B Match #14
				| Friday, March 25th 8:00 EST 
				span.label.label-danger CLOSED
			.panel-body
				p A weekly match featuring a standard 5v5 battle on the rift between a team of bronze-silver and a team of gold-plat players.
		.panel.panel-info
			.panel-heading
				h4 League of Bronze A Match #15
				| Thursday, March 24th 8:00 EST 
				span.label.label-danger CLOSED
			.panel-body
				p A weekly match featuring a standard 5v5 battle on the rift between a team of gold-plat and a team of plat-diamond players.
		