extends layout

mixin getEvents(event)
	-var isOpen = event.nRegistered < event.capacity;
	-var localeDate = (new Date(event.time)).toLocaleString();
	-var when = localeDate.substring(0, localeDate.length - 6) + localeDate.substring(localeDate.length - 2);
	.panel.panel-info
		.panel-heading
			h4= event.title
			|	When: #{when} 
			if isOpen
				span.label.label-success OPEN
			else
				span.label.label-danger CLOSED
		.panel-body
			p !{event.description}

block content
	h2#events-title.col-md-12.text-center
		a.page-header Events
	.col-md-10.col-md-offset-1
		each event in events
			+getEvents(event)		