extends layout

block content
	h2.col-md-12.text-center Welcome!
	#homeAnnouncements.panel.panel-default.col-md-6
		h2.text-center
			a(href="") Announcements
		ul.list-group
			li.list-group-item
				h3 Reminder! 
				p	Attention!! Please fill in all the fields when registering. Thank you!
				footer.text-muted.text-right March 24th, 2016
			li.list-group-item
				h3 Announcement 3 
				p	Listen up all!!! This is the third announcement since god created this website. Please check the announcements tab for past announcements and the games tab for upcoming/past games.
				footer.text-muted.text-right March 24th, 2016
			li.list-group-item
				h3 Announcement 2 
				p	Listen up all!!! This is the second announcement since god created this website. Please check the announcements tab for past announcements and the games tab for upcoming/past games.
				footer.text-muted.text-right March 23rd, 2016
			li.list-group-item
				h3 Welcome! 
				p	God created this website on the 3rd day.
				footer.text-muted.text-right March 22nd, 2016
	#homeEvents.panel.panel-default.col-md-6
		h2.text-center 
			a(href="") Upcoming Events
		ul.list-group
			li.list-group-item
				h3 League of Bronze B Match #15
				|	Time: Friday April 1st 8:00 EST
				br
				span.label.label-success OPEN
				p A weekly match featuring a standard 5v5 battle on the rift between a team of bronze-silver and a team of gold-plat players
			li.list-group-item
				h3 League of Bronze A Match #15
				|	Time: Thursday March 31st 8:00 EST
				br
				span.label.label-success OPEN
				p A weekly match featuring a standard 5v5 battle on the rift between a team of gold-plat and a team of plat-diamond players
			li.list-group-item
				h3 League of Bronze B Match #14
				|	Time: Friday March 25th 8:00 EST
				br
				span.label.label-danger CLOSED
				p A weekly match featuring a standard 5v5 battle on the rift between a team of bronze-silver and a team of gold-plat players

	
