extends layout

block navbar
	li
		a(href=hostname+'/') HOME
	li
		a(href=hostname + '/announcements') ANNOUNCEMENTS
	li
		a(href=hostname + '/events') EVENTS
block content
	h2#login.col-md-12.text-center
		a.page-header Login
	.col-md-8.col-md-offset-2.text-danger.text-center #{message}
	.clearfix
	.col-md-8.col-md-offset-2
		form(action='', method='post')
			.form-group.col-sm-6.col-sm-offset-3
				label(for='email') Email
				input.form-control(type='email', name='email', placeholder='email')
			.clearfix
			.form-group.col-sm-6.col-sm-offset-3
				label(for='password') Password
				input.form-control(type='password', name='password', placeholder='Password')
			.clearfix
			.text-center
				button.btn.btn-primary(type='submit') Login