extends layout

block navbar
	li
		a(href=hostname+'/') HOME
	li
		a(href=hostname + '/announcements') ANNOUNCEMENTS
	li
		a(href=hostname + '/events') EVENTS
block content
	h2.col-md-9.text-primary.col-sm-offset-1 Register
		hr.thickgrey
	.col-md-8.col-md-offset-2.text-danger #{message}
	.clearfix
	.col-md-8.col-md-offset-2
		form(action='', method='post')
			fieldset
				legend
					h3.text-info 
						i User Information
				.col-sm-12
					fieldset.form-group
						label(for='username') Username
						.clearfix
						.col-sm-6
							input.form-control.input-sm(type='text', name='username', placeholder='Use this to login', required)
					.clearfix
					fieldset.form-group
						label(for='password') Password
						.clearfix
						.col-sm-6
							input.form-control.input-sm(type='password', name='password', placeholder='Password', required)
					.clearfix
					fieldset.form-group
						label(for='confirmPassword') Confirm Password
						.clearfix
						.col-sm-6
							input.form-control.input-sm(type='password', name='confirmPassword', placeholder='Confirm Password', required)
					.clearfix
					fieldset.form-group
						label(for='email') Contact Email / Login ID
						.clearfix
						.col-sm-8
							input.form-control.input-sm(type='email', name='email', placeholder='Email', required)
					.clearfix
			fieldset
				legend
					h3.text-info
						i Personal Info
				.col-sm-12
					fieldset.form-group
						label(for='firstName') First Name
						.clearfix
						.col-sm-6
							input.form-control.input-sm(type='text', name='firstName')
					fieldset.form-group
						label(for='lastName') Last Name
						.clearfix
						.col-sm-6
							input.form-control.input-sm(type='text', name='lastName')
					fieldset.form-group
						label(for='age') Age
						.clearfix
						.col-sm-3
							input.form-control.input-sm(type='number', name='age', min='0', max='150')
					fieldset.form-group
						label(for='gender') Gender
						.clearfix
						.col-sm-6
							select.form-control(name='gender')
								option(value='Male') Male
								option(value='Female') Female
					fieldset.form-group
						label(for='bio') Personal Description
						.clearfix
						.col-sm-12
							textarea.form-control(name='bio')
			fieldset.form-group.text-center
				button.btn.btn-primary(type='submit') Submit